<div id="navButtons">
    <a href="./">
        <button class="navButton">Home</button>
    </a>

    <a href="./login">
        <button class="navButton">Login</button>
    </a>

    <a href="./register">
        <button class="navButton">Register</button>
    </a>

    <a href="/user">
        <button class="navButton">Profile</button>
    </a>

    <a href="/logout">
        <button class="navButton">Logout</button>
    </a>
</div>