<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Photo</title>
</head>

<body>
    {{> header}}
    <h3>Add a new Gallery Photo</h3>
    <form action="/gallery/new" method="POST">
        <label for="author">Author:</label><br>
        <input type="text" name="author" />

        <br><br>

        <label for="link">Link:</label><br>
        <input type="text" name="link">

        <br><br>

        <label for="description">Description:</label><br>
        <input type="text" name="description">

        <br><br>

        <button>Submit</button>
</body>

</html>